<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="author" content="Elijah Knisley">
<meta name="description" content="This is a page for a web design class">
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/content.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="images/icon.png">
<title>Scoots</title>
<div class="title">
    <img src="images/icon.png">
    <h1>Scoots</h1>
</div>
<div class="navagation">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="Rentals.html"><li>Rentals</a></li>
        <li><a href="Reservations.html"><li>Reservations</a></li>
        <li><a href="Tours.html"><li>Tours</a></li>
        <li><a href="Contact.html">Contact</a></li>
    </ul>
</div>
<img class="hero_image" src="images/pexels-mohamed-sarim-1033729.jpg">
